 
<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
    <form role="form" name="addForm" ng-submit="saveData(addForm)" enctype="multipart/form-data" novalidate="">
        <h2>Please Sign Up <small>It's free and always will be.</small></h2>
        <hr class="colorgraph">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="first_name" ng-model="userData.first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
                    <span class="text-danger" ng-show="addForm.first_name.$dirty && addForm.first_name.$error.required">You must enter a value here</span>
                    <span class="text-danger" ng-show="addForm.first_name.$error.serverMessage">{{addForm.first_name.$error.serverMessage}}</span>                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="last_name" ng-model="userData.last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
                    <span class="text-danger" ng-show="addForm.last_name.$dirty && addForm.last_name.$error.required">You must enter a value here</span>
                    <span class="text-danger" ng-show="addForm.last_name.$error.serverMessage">{{addForm.last_name.$error.serverMessage}}</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="text" name="email" ng-model="userData.email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
            <span class="text-danger" ng-show="addForm.email.$dirty && addForm.email.$error.required">You must enter a value here</span>
            <span class="text-danger" ng-show="addForm.email.$error.serverMessage">{{addForm.email.$error.serverMessage}}</span>
        </div>
        
        <div class="form-group">
            <input type="text" name="username" ng-model="userData.username" class="form-control input-lg" placeholder="Username" tabindex="4">
            <span class="text-danger" ng-show="addForm.username.$dirty && addForm.username.$error.required">You must enter a value here</span>
            <span class="text-danger" ng-show="addForm.username.$error.serverMessage">{{addForm.username.$error.serverMessage}}</span>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <input type="password" name="password" ng-model="userData.password" class="form-control input-lg" placeholder="Password" tabindex="5">
                    <span class="text-danger" ng-show="addForm.password.$error.serverMessage">{{addForm.password.$error.serverMessage}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <input type="password" name="confpassword" ng-model="userData.confpassword" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
                    <span class="text-danger" ng-show="addForm.password.$dirty && addForm.password.$error.required">You must enter a value here</span>
                    <span class="text-danger" ng-show="addForm.confpassword.$error.serverMessage">{{addForm.confpassword.$error.serverMessage}}</span>
                </div>
            </div>
        </div> 

        <hr class="colorgraph">
        <div class="row">
            <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
            <div class="col-xs-12 col-md-6"><a href="default.htm#/login" class="btn btn-success btn-block btn-lg">Sign In</a></div>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 