<p class="text-info">
    Thanks for shopping at the Angular Store.<br />
    This is your shopping cart. Here you can edit the items, 
    go back to the store, clear the cart, or check out.
</p>


<div class="row">
    
    <div class="col-md-8">

        <!-- items -->
        <table class="table table-bordered">

            <!-- header -->
            <tr class="well">
                <td><b>Item</b></td>
                <td class="tdCenter"><b>Quantity</b></td>
                <td class="tdRight"><b>Price</b></td>
                <td />
            </tr>

            <!-- empty cart message -->
            <tr ng-hide="totalItem > 0" >
                <td class="tdCenter" colspan="4">
                    Your cart is empty.
                </td>
            </tr>

            <!-- cart items -->
            <tr ng-repeat="item in cartItems| orderBy:'name'">
                <td>{{item.name}}</td>
                <td class="tdCenter">
                    <div class="input-append">
                        <!-- use type=tel instead of  to prevent spinners -->
                        <input class="qty-input text-center" type="tel"  ng-model="item.qty" readonly="" />
                        <button class="btn btn-success" type="button" ng-disabled="item.qty >= 10" ng-click="addItem(item.sku, item.name, item.price, +1)">+</button>
                        <button  class="btn btn-inverse" type="button"  ng-disabled="item.qty <= 1" ng-click="addItem(item.sku, item.name, item.price, -1)">-</button>
                    </div>
                </td>
                <td class="tdRight">{{item.price * item.qty| currency}}</td>
                <td class="tdCenter" title="remove from cart">
                    <a href="" ng-click="removeItem(item.sku)" >
                        <i class="glyphicon glyphicon-remove" />
                    </a>
                </td>
            </tr>

            <!-- footer -->
            <tr class="well">
                <td><b>Total</b></td>
                <td class="tdCenter"><b>{{totalItem}}</b></td>
                <td class="tdRight"><b>{{totalPrice| currency}}</b></td>
                <td />
            </tr>
        </table>
    </div>


    <!-- buttons -->
    <div class="col-md-4">
        <p class="text-info">
            <button 
                class="btn btn-block" 
                onclick="window.location.href = 'default.htm'">
                <i class="icon-chevron-left" /> back to store
            </button>
            <button 
                class="btn btn-block btn-danger" 
                ng-click="clearItems()" 
                ng-disabled="totalItem < 1" >
                <i class="icon-trash icon-white" /> clear cart
            </button>
        </p>

        <br /><br />

        <p class="text-info">
            <button
                class="btn btn-block btn-primary"
                ng-click="cart.checkout('PayPal')"
                ng-disabled="totalItem < 1">
                <i class="icon-ok icon-white" /> check out using PayPal
            </button>
            <button 
                class="btn btn-block btn-primary" 
                ng-click="cart.checkout('Google')" 
                ng-disabled="totalItem < 1">
                <i class="icon-ok icon-white" /> check out using Google
            </button>
        </p>

        <br /><br />

        <p class="text-info">
            <button 
                class="btn btn-block btn-link"
                ng-click="cart.checkout('PayPal')"
                ng-disabled="totalItem < 1" >
                <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="checkout PayPal"/>
            </button>  
        </p>
    </div>

</div>